gunicorn==20.0.4
Flask==1.1.2
Flask-Session==0.3.2
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
python-dateutil==2.8.1
pytz==2020.1
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole==4.7.7
requests==2.25.1
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tornado==6.1
urllib3==1.26.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2