{% extends "layout.html" %}

{% block title %}Portfolio{% endblock %}

{% block main %}
    <head><meta http-equiv="refresh" content="10"/></head>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Percent</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <td colspan="5"></td>
            <td><b>{{ total }}</b></td>
        </tfoot>
        <tbody>
            {% for stock in portfolio %}
                {% if stock['share_count'] != 0 %}
                    <tr>
                        <td>{{ stock['symbol'] }}</td>
                        <td>{{ stock['name'] }}</td>
                        <td>{{ stock['share_count'] }}</td>
                        <td>{{ stock['percent'] }}</td>
                        <td>{{ stock['price'] }}</td>
                        <td>{{ stock['total'] }}</td>
                    </tr>
                {% endif %}       
            {% endfor %}
            <tr>
                <td><b>CASH</b></td>
                <td colspan="4"></td>
                <td><b>{{ cash }}</b></td>
            </tr>
        </tbody>
    </table>
{% endblock %}