{% extends "layout.html" %}

{% block title %}Sell{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <select class="form-control" name="symbol">
        <option disabled selected value>Symbol</option>
        <!--Do jinja for loop for each symbol user has-->
    </select>
    <br/>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}